.product-details .img-wrapper {
    width: 100%;
    height: 100%;
}
.product-details .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.product-details .mySwiper {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.product-details .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.product-details .swiper {
    width: 100%;
    max-height: 700px;
}
.swiper-vertical {
    touch-action: pan-x;
}
.product-details .mySwiper2 {
    height: 100%;
    width: 100%;
}
.product-details .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.product-details .swiper {
    width: 100%;
    max-height: 700px;
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.product-details .swiper-slide {
    background-size: cover;
    background-position: center;
}
.product-details .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide, swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.swiper .swiper-notification, swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}



.product-details .content {
    width: 100%;
}
.product-details .content .heading3{
    font-style: normal;
    color: #000000;
}
.product-details .content .rating {
    margin: 20px 0;
    font-size: 15px;
    color: #ffa800;
}
.product-details .content .rating .heading6 {
    color: #747d7c;
}
.ml-5 {
    margin-left: 5px;
}
.product-details .content .price {
    gap: 27px;
    align-items: flex-start;
    border-bottom: none;
}
.mb-20 {
    margin-bottom: 20px;
}
.product-details .content .price .line-through {
    color: #a3a8a8;
    text-decoration: line-through;
    font-size: 28px;
}
.product-details .content .price span {
    color: #5d8834;
    font-size: 30px;
    font-weight: 600;
    font-family: "Montserrat";
}
.mb-30 {
    margin-bottom: 30px;
}

.paragraph {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #747d7c;
}
.product-details .content .pro-details h4 {
    max-width: 170px;
    width: 100%;
}
.product-details .content .c-card {
    border: 1px solid rgba(64, 64, 64, 0.2);
    width: 80.92px;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 10px 20px 2px rgba(63, 63, 63, 0.2);
}

.mr-10 {
    margin-right: 10px;
}
.product-details .content .pro-details .social-links {
    gap: 10px;
}
.product-details .content .pro-details .social-links a {
    font-size: 18px;
    color: #5d8834;
}

/* <!-- Descriptions Start --> */
.product-details .nav-pills {
    border-bottom: 2px solid #dce775;
    padding-bottom: 15px;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
}
.product-details .nav-link.active {
    border-bottom: 2px solid #5d8834;
    background-color: #5d8834;
}
.nav-pills .nav-link {
    color: #5d8834;
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
}
/* end */


/* tab-content */
.product-details .tab-content .review_wrapper {
    max-width: 550px;
    width: 100%;
}
.product-details .tab-content .review_wrapper label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-bottom: 5px;
}
.product-details .tab-content .review_wrapper input {
    width: 100%;
    border: 1px solid #747d7c;
    padding: 11px 14px;
    background: transparent;
    margin-bottom: 20px;
    border-radius: 0;
}
.product-details .tab-content .review_wrapper .ratings {
    margin-bottom: 20px;
}
.product-details .tab-content .review_wrapper .ratings i {
    color: rgb(255, 208, 0);
}
/* comment */
.product-details .tab-content .comments {
    padding: 15px;
}
.mr-10 {
    margin-right: 10px;
}
.product-details .tab-content .comments select {
    padding: 5px;
    background: white;
    color: #747d7c;
    font-size: 14px;
    border: 1px solid #747d7c;
    outline: none;
}

/* end */